<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/meanmenu.css">

    <link rel="stylesheet" href="../static/css/boxicons.min.css">

    <link rel="stylesheet" href="../static/css/odometer.min.css">

    <link rel="stylesheet" href="../static/css/magnific-popup.min.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/nice-select.min.css">

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="../static/css/responsive.css">
    <title>我的团队</title>
</head>
<body>

<div class="loader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>


<div class="navbar-area two fixed-top">

    <div class="mobile-nav">
        <a href="/" class="logo">
            <img src="../static/picture/logo.png" alt="Logo">
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="../static/picture/logo.png" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/index" class="nav-link dropdown-toggle active">主页</a>
                        </li>
                        <li class="nav-item">
                            <a href="/novel" class="nav-link dropdown-toggle">小说Top100</a>
                        </li>
                        <li class="nav-item">
                            <a href="/wordcloud" class="nav-link dropdown-toggle">小说词云</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link dropdown-toggle">我的团队</a>
                        </li>
                    </ul>
                    <div class="side-nav">
                        <a href="#">登录</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>开 发 团 队</h2>
        </div>
        <div class="row">
            {% for team in myTeam %}
            <div class="col-sm-6 col-lg-4" style="margin-top: 200px; text-align: left;">
                <div class="team-item">
                    <div class="team-top">
                        <img src="{{team[6]}}" alt="Team">
                    </div>
                    <h3>{{team[1]}}</h3>
                    <span>学号：{{team[0]}}</span>
                    <span>年龄：{{team[3]}}</span>
                    <span>性别：{{team[2]}}</span>
                    <span>组内身份：{{team[5]}}</span>
                    <span>班级：{{team[4]}}</span>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>




<footer class="pt-70">
    <div class="container">
        <div class="copyright-area">
            <p>
                Copyright &copy; 2022.Company name All rights reserved.
            </p>
        </div>
    </div>
</footer>


<script data-cfasync="false" src="../static/js/email-decode.min.js"></script>
<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script src="../static/js/form-validator.min.js"></script>

<script src="../static/js/contact-form-script.js"></script>

<script src="../static/js/jquery.ajaxchimp.min.js"></script>

<script src="../static/js/jquery.meanmenu.js"></script>

<script src="../static/js/odometer.min.js"></script>
<script src="../static/js/jquery.appear.js"></script>

<script src="../static/js/jquery.magnific-popup.min.js"></script>

<script src="../static/js/owl.carousel.min.js"></script>

<script src="../static/js/jquery.nice-select.min.js"></script>

<script src="../static/js/thumb-slide.js"></script>

<script src="../static/js/custom.js"></script>
</body>
</html>